<% provide(:title, 'Contact Us') %>
<div class="text-center">
<h3>This demo was created by Hassan Mian:</h3>
</div>
<p><strong>Email:</strong> Hassanmian@hassanmian.net</p>
<p><strong>Phone:</strong> 407-782-0815</p>
<p><strong>GitHub Page:</strong> <a href="https://github.com/HassanAMian">https://github.com/HassanAMian</a></p>
<br />
<br />
<br />
<h1 class="text-center"><a href="https://github.com/HassanAMian/BuskerBoost">BuskerBoost GitHub Repo</a></h1>
