<% provide(:title, 'Busking Events') %>
<div class="text-center">
<h1>Busking Festivals</h1>
<p><a href="http://buskerfestmiami.com/">Miami Buskerfest: December 12, 2014</a></p>
<br />

<p><a href="http://www.worldbuskersfestival.com/">World Buskers Festival, Christchurch, NZ: January 15 -25, 2015</a></p>
<br />

<p><a href="http://www.seaportvillage.com/entertainment/busker-festival">Seaport Village Spring Busker Festival, San Diego, CA: March 7 - 8, 2015</a></p>
<br />

<p><a href="http://www.lawrencebuskerfest.com/">Lawrence Busker Festival, Lawrence, KS: May 26 -28, 2015</a></p>
<br />

<p><a href="http://victoriabuskers.com/">Victoria International Buskers Festival: July 17 - 26, 2015</a></p>
<br />

<p><a href="http://www.buskers.ca/">Halifax Busker Festival: July 29 - August 3, 2015</a></p>
<br />

<p><a href="http://www.niagarabuskerfest.com/">Niagra Falls Buskerfest: TBD</a></p>
<br />

<p><a href="http://vancouverbuskerfest.com/">Vancouver International Busker Festival: TBD</a></p>
<br />

<p><a href="http://www.pikeplacemarketbuskers.com/">Seattle Busker Week: TBD</a></p>

<h1>Busking Information</h1>
<p>You can find information on safe busking spots in your area through the <a href="https://squattheplanet.com/forums/busking-street-performance/">Squat the Planet forums</a>.</p>
</div>
