<footer class="footer">
  <small>
    <a href="https://buskerboost.herokuapp.com">BuskerBoost</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Busking Events",   events_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>